{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}MaKu{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'favicon.png' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}{% endblock %}
</head>

<body class="bg-slate-100 min-h-screen">
  {% include 'component/navbar.html' %}

  <main class="py-10">
    <div class="max-w-6xl mx-auto px-4">
      {% block content %}{% endblock %}
    </div>
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
