html,
body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

/*  ================= FOOTER ================= */
.footer-icon {
    color: #6c757d;
    transition: all .2s ease;
}

.footer-icon:hover {
    color: #0d6efd;
    transform: translateY(-2px);
}

/*  =================  ================= */
